# Build artifacts
*.o
*.a
*.so
*.bin
*.elf
*.log
*.cpio.gz
*.uboot
*.out
*.d

# CMake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

# Liboqs build
liboqs/include/
liboqs/liboqs.a

# Generated binaries
bin/*
build/*
bin/pqc_host
build/host/pqc_host


# Temp
*.swp
*.tmp
*.bak