# Build artifacts
*.o
*.a
*.so
*.bin
*.elf
*.log
*.cpio.gz
*.uboot
*.out
*.d

# CMake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

# Liboqs build
liboqs/include/
liboqs/liboqs.a

# Generated binaries
host/pqc_host
ta/pqc_ta.*
bin/*
build/*

# Temp
*.swp
*.tmp
*.bak